name: Java CI and Deploy to Render

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # Étape 1 : Récupérer le dépôt
      - uses: actions/checkout@v3
      
      # Étape 2 : Configurer Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          
      # Étape 3 : Construire le projet avec Maven (sauter les tests)
      - name: Build with Maven
        run: mvn clean package -DskipTests
        
      # Étape 4 : Déployer sur Render
      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
